<a href="https://colab.research.google.com/github/Francisss3/AAI614_Francis-/blob/main/Notebook3_2_lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# AAI614: Data Science & its Applications

*Notebook 3.2: Practice with Data Cleaning*

<a href="https://colab.research.google.com/github/harmanani/AAI614/blob/main/Week%203/Notebook3.2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import ssl

ssl._create_default_https_context = ssl._create_unverified_context

Exercise I. Load the following datafile from GitHub

In [2]:
grads = pd.read_csv("https://raw.githubusercontent.com/harmanani/AAI614/main/Week%203/grads.csv")

In [3]:
grads.head()

,Student Name,Avg Hours Studies per Week,GPA,University,Sense of Humour (0-5),Salary
0,George,20,NaN,NYU,3.0,$40k
1,Jerry,35,3.5,Columbia,5.0,$80k
2,Elaine,55,4.0,Columbia,4.2,$60k
3,Cosmo,5,2.0,City College,2.0,$25k
4,Newman,25,2.8,City College,0.0,$50k

Question 1: Identify all the outliers in the above data.  Justify your answers using objective measures.

In [4]:
import pandas as pd

# Convert Salary to numeric by removing the "$" and "k" characters
grads['Salary'] = grads['Salary'].replace({'\$': '', 'k': ''}, regex=True).astype(float) * 1000

# Define a function to identify outliers using the IQR method
def find_outliers_iqr(data, column):
    Q1 = data[column].quantile(0.25)
    Q3 = data[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outliers = data[(data[column] < lower_bound) | (data[column] > upper_bound)]
    return outliers, lower_bound, upper_bound

# Analyze potential outliers for numeric columns
columns_to_check = ['Avg Hours Studies per Week', 'GPA', 'Sense of Humour (0-5)', 'Salary']
for column in columns_to_check:
    outliers, lower, upper = find_outliers_iqr(grads, column)
    print(f"\nOutliers in '{column}':\n{outliers[['Student Name', column]]}")
    print(f"Lower Bound: {lower}, Upper Bound: {upper}")

Outliers in 'Avg Hours Studies per Week':
  Student Name  Avg Hours Studies per Week
6      Estelle                         100
Lower Bound: -25.0, Upper Bound: 95.0

Outliers in 'GPA':
Empty DataFrame
Columns: [Student Name, GPA]
Index: []
Lower Bound: 1.3124999999999993, Upper Bound: 5.0125

Outliers in 'Sense of Humour (0-5)':
Empty DataFrame
Columns: [Student Name, Sense of Humour (0-5)]
Index: []
Lower Bound: -3.275, Upper Bound: 7.725

Outliers in 'Salary':
Empty DataFrame
Columns: [Student Name, Salary]
Index: []
Lower Bound: -2500.0, Upper Bound: 97500.0

In [5]:
# Using the IQR method, I identified outliers in the dataset. The only outlier detected
# was in the column 'Avg Hours Studies per Week', where Estelle reported 100 hours,
# which is above the upper bound of 95.0. This value is likely an anomaly or an extreme case.
# No outliers were found in the columns 'GPA', 'Sense of Humour (0-5)', or 'Salary',
# as all their values fell within their respective bounds. These findings indicate that
# apart from Estelle's study hours, the dataset does not contain extreme or unusual values.

Question 2: There are various data that are missing.  Fill-in the missing data or delete the rows/columns that you think you should delete.  Justify your answer

In [6]:
# Step 1: Check for missing values
print(grads.isnull().sum())

# Step 2: Decide how to handle missing values
# - The missing GPA for George will be filled with the mean GPA, as it's a single missing value
# - No rows or columns will be deleted since the missing data is minimal and can be imputed
grads['GPA'].fillna(grads['GPA'].mean(), inplace=True)

# Step 3: Verify the data after handling missing values
print(grads)

Student Name                  0
Avg Hours Studies per Week    0
GPA                           1
University                    0
Sense of Humour (0-5)         2
Salary                        0
dtype: int64
  Student Name  Avg Hours Studies per Week     GPA     University  \
0       George                          20  3.1125            NYU
1        Jerry                          35  3.5000       Columbia
2       Elaine                          55  4.0000       Columbia
3        Cosmo                           5  2.0000   City College
4       Newman                          25  2.8000   City College
5        Frank                          35  3.0000   Festivus Uni
6      Estelle                         100  3.2000  Festivus Uni
7          Leo                          15  2.4000   Festivus Uni
8       Rachel                          50  4.0000       Columbia

   Sense of Humour (0-5)   Salary
0                    3.0  40000.0
1                    5.0  80000.0
2                    4.2  60000.0
3                    2.0  25000.0
4                    0.0  50000.0
5                    NaN  40000.0
6                    1.7      0.0
7                    0.0  35000.0
8                    NaN  75000.0

<ipython-input-6-da9f9f2a2c71>:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  grads['GPA'].fillna(grads['GPA'].mean(), inplace=True)

In [7]:
# Fill missing GPA value with the mean GPA
grads['GPA'] = grads['GPA'].fillna(grads['GPA'].mean())

# Fill missing Sense of Humour values with the median of the column
# Median is chosen here because it's less sensitive to outliers
grads['Sense of Humour (0-5)'] = grads['Sense of Humour (0-5)'].fillna(grads['Sense of Humour (0-5)'].median())

# Verify the dataset after handling missing values
print(grads.isnull().sum())  # Should show 0 missing values
print(grads)

Student Name                  0
Avg Hours Studies per Week    0
GPA                           0
University                    0
Sense of Humour (0-5)         0
Salary                        0
dtype: int64
  Student Name  Avg Hours Studies per Week     GPA     University  \
0       George                          20  3.1125            NYU
1        Jerry                          35  3.5000       Columbia
2       Elaine                          55  4.0000       Columbia
3        Cosmo                           5  2.0000   City College
4       Newman                          25  2.8000   City College
5        Frank                          35  3.0000   Festivus Uni
6      Estelle                         100  3.2000  Festivus Uni
7          Leo                          15  2.4000   Festivus Uni
8       Rachel                          50  4.0000       Columbia

   Sense of Humour (0-5)   Salary
0                    3.0  40000.0
1                    5.0  80000.0
2                    4.2  60000.0
3                    2.0  25000.0
4                    0.0  50000.0
5                    2.0  40000.0
6                    1.7      0.0
7                    0.0  35000.0
8                    2.0  75000.0

In [9]:
# To address missing values:
# 1. The missing GPA value for George was filled with the mean GPA (3.1125),
#    as it represents the central tendency of the data and minimizes bias.
# 2. Missing values in the 'Sense of Humour (0-5)' column for Frank and Rachel
#    were filled with the median value (2.0). Median imputation is more robust
#    in the presence of outliers and maintains the dataset's integrity.
# After these imputations, the dataset now has no missing values, ensuring it is
# complete and ready for analysis without dropping rows or columns unnecessarily.

Question 3: Reload the data and fill-in the data using mean method as well as the frequent method.

In [10]:
# Reload the data
grads = pd.read_csv("https://raw.githubusercontent.com/harmanani/AAI614/main/Week%203/grads.csv")

# Convert Salary to numeric for consistency
grads['Salary'] = grads['Salary'].replace({'\$': '', 'k': ''}, regex=True).astype(float) * 1000

# Fill missing values using the mean method
grads_mean = grads.copy()
grads_mean['GPA'] = grads_mean['GPA'].fillna(grads_mean['GPA'].mean())
grads_mean['Sense of Humour (0-5)'] = grads_mean['Sense of Humour (0-5)'].fillna(grads_mean['Sense of Humour (0-5)'].mean())

# Fill missing values using the frequent (mode) method
grads_frequent = grads.copy()
grads_frequent['GPA'] = grads_frequent['GPA'].fillna(grads_frequent['GPA'].mode()[0])
grads_frequent['Sense of Humour (0-5)'] = grads_frequent['Sense of Humour (0-5)'].fillna(grads_frequent['Sense of Humour (0-5)'].mode()[0])

# Verify the datasets
print("Dataset after Mean Imputation:")
print(grads_mean)

print("\nDataset after Frequent (Mode) Imputation:")
print(grads_frequent)

Dataset after Mean Imputation:
  Student Name  Avg Hours Studies per Week     GPA     University  \
0       George                          20  3.1125            NYU
1        Jerry                          35  3.5000       Columbia
2       Elaine                          55  4.0000       Columbia
3        Cosmo                           5  2.0000   City College
4       Newman                          25  2.8000   City College
5        Frank                          35  3.0000   Festivus Uni
6      Estelle                         100  3.2000  Festivus Uni
7          Leo                          15  2.4000   Festivus Uni
8       Rachel                          50  4.0000       Columbia

   Sense of Humour (0-5)   Salary
0               3.000000  40000.0
1               5.000000  80000.0
2               4.200000  60000.0
3               2.000000  25000.0
4               0.000000  50000.0
5               2.271429  40000.0
6               1.700000      0.0
7               0.000000  35000.0
8               2.271429  75000.0

Dataset after Frequent (Mode) Imputation:
  Student Name  Avg Hours Studies per Week  GPA     University  \
0       George                          20  4.0            NYU
1        Jerry                          35  3.5       Columbia
2       Elaine                          55  4.0       Columbia
3        Cosmo                           5  2.0   City College
4       Newman                          25  2.8   City College
5        Frank                          35  3.0   Festivus Uni
6      Estelle                         100  3.2  Festivus Uni
7          Leo                          15  2.4   Festivus Uni
8       Rachel                          50  4.0       Columbia

   Sense of Humour (0-5)   Salary
0                    3.0  40000.0
1                    5.0  80000.0
2                    4.2  60000.0
3                    2.0  25000.0
4                    0.0  50000.0
5                    0.0  40000.0
6                    1.7      0.0
7                    0.0  35000.0
8                    0.0  75000.0

In [11]:
# Two imputation methods were applied to handle missing values:

# 1. **Mean Imputation**:
#    - For the 'GPA' column, the missing value was replaced with the mean GPA (3.1125).
#    - For the 'Sense of Humour (0-5)' column, missing values were replaced with the mean (2.271429).
#    - This approach maintains the central tendency of the data but may not represent realistic individual values.
#    - For example, Frank's humor score of 2.271429 may not be practical, as the original scale is discrete (0-5).

# 2. **Frequent (Mode) Imputation**:
#    - For the 'GPA' column, the missing value was replaced with the most frequent GPA (4.0).
#    - For the 'Sense of Humour (0-5)' column, missing values were replaced with the most frequent score (0.0).
#    - This approach ensures imputed values are realistic but might oversimplify the dataset, as mode values may not always reflect true diversity in data.

# **Observations**:
# - Mean imputation smooths the dataset by introducing average values but risks generating unrealistic individual scores.
# - Frequent (mode) imputation preserves the existing scale but might skew the dataset if a single mode dominates.
# - The choice between these methods depends on the analysis goals and the nature of the dataset. For instance:
#    - Mean imputation is better for predictive modeling where smooth data is preferred.
#    - Frequent (mode) imputation is better when maintaining categorical or ordinal consistency is important.

# Both datasets are now complete, with no missing values.

Exercise II. Run the cell below to create a new dataframe called `df_miss`.  Its first column will contain some missing values.

In [12]:
import pandas as pd
import numpy as np
import random

nrows = 10
ncols = 5

# Set a seed for random number generation
np.random.seed(314)

# Create an array filled with random data
data = np.array(np.random.rand(nrows, ncols))

# Put the data into a pandas DataFrame
df_miss = pd.DataFrame(data)

# Rename the columns
df_miss.columns = ['col_' + str(ii) for ii in range(ncols)]

# Randomly set some values to missing
ix0 = np.random.randint(nrows, size=3)
ix1 = np.random.randint(nrows, size=3)

df_miss.loc[ix0, 'col_0'] = np.nan
df_miss.loc[ix1, 'col_1'] = np.nan

print(df_miss)

      col_0     col_1     col_2     col_3     col_4
0       NaN       NaN  0.265048  0.783205  0.918001
1  0.827355       NaN  0.260480  0.911763  0.260757
2  0.766376  0.261531  0.122291  0.386006  0.840081
3       NaN       NaN  0.633110  0.584766  0.581232
4  0.677205  0.687155  0.438927  0.320927  0.570552
5       NaN  0.861074  0.834805  0.105766  0.060408
6  0.596882  0.792395  0.226356  0.535201  0.136066
7  0.372244  0.151977  0.429822  0.792706  0.406957
8  0.177850  0.909252  0.545331  0.100497  0.718721
9  0.978429  0.309776  0.260126  0.662900  0.139720

Impute the missing values (NaN) in `col_0` (but not `col_1`) with the median.  Store the values in the dataframe by using the parameter `inplace`.  Print the dataframe.

In [14]:
# Impute missing values in col_0 with the median
df_miss['col_0'].fillna(df_miss['col_0'].median(), inplace=True)

# Print the updated dataframe
print(df_miss)

      col_0     col_1     col_2     col_3     col_4
0  0.677205       NaN  0.265048  0.783205  0.918001
1  0.827355       NaN  0.260480  0.911763  0.260757
2  0.766376  0.261531  0.122291  0.386006  0.840081
3  0.677205       NaN  0.633110  0.584766  0.581232
4  0.677205  0.687155  0.438927  0.320927  0.570552
5  0.677205  0.861074  0.834805  0.105766  0.060408
6  0.596882  0.792395  0.226356  0.535201  0.136066
7  0.372244  0.151977  0.429822  0.792706  0.406957
8  0.177850  0.909252  0.545331  0.100497  0.718721
9  0.978429  0.309776  0.260126  0.662900  0.139720

<ipython-input-14-3d6f0cf7ec23>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_miss['col_0'].fillna(df_miss['col_0'].median(), inplace=True)

In [15]:
# Use direct assignment instead of inplace=True to avoid FutureWarning
df_miss['col_0'] = df_miss['col_0'].fillna(df_miss['col_0'].median())

# Print the updated DataFrame
print(df_miss)

      col_0     col_1     col_2     col_3     col_4
0  0.677205       NaN  0.265048  0.783205  0.918001
1  0.827355       NaN  0.260480  0.911763  0.260757
2  0.766376  0.261531  0.122291  0.386006  0.840081
3  0.677205       NaN  0.633110  0.584766  0.581232
4  0.677205  0.687155  0.438927  0.320927  0.570552
5  0.677205  0.861074  0.834805  0.105766  0.060408
6  0.596882  0.792395  0.226356  0.535201  0.136066
7  0.372244  0.151977  0.429822  0.792706  0.406957
8  0.177850  0.909252  0.545331  0.100497  0.718721
9  0.978429  0.309776  0.260126  0.662900  0.139720

Impute the missing values in `col_1` with value 0.  Store the values in the dataframe by using the parameter `inplace`.  Print the dataframe.

In [16]:
# Impute missing values in col_1 with the value 0
df_miss['col_1'] = df_miss['col_1'].fillna(0)

# Print the updated DataFrame
print(df_miss)

      col_0     col_1     col_2     col_3     col_4
0  0.677205  0.000000  0.265048  0.783205  0.918001
1  0.827355  0.000000  0.260480  0.911763  0.260757
2  0.766376  0.261531  0.122291  0.386006  0.840081
3  0.677205  0.000000  0.633110  0.584766  0.581232
4  0.677205  0.687155  0.438927  0.320927  0.570552
5  0.677205  0.861074  0.834805  0.105766  0.060408
6  0.596882  0.792395  0.226356  0.535201  0.136066
7  0.372244  0.151977  0.429822  0.792706  0.406957
8  0.177850  0.909252  0.545331  0.100497  0.718721
9  0.978429  0.309776  0.260126  0.662900  0.139720